.card-container{
    margin: 16px;
    max-width: 60%;
    padding-bottom: 30px;
}

mat-card {
    padding: 10px;
}

.example-header-image {
    background-image: url("https://yt3.googleusercontent.com/y4J_Fs5ksRlxx6_LzT1VKxVqH_T8Vyn_RN_YYgLJhuMzBS5qxTgm7NlEcMkQd3hgCpfWtYcEUg=s900-c-k-c0x00ffffff-no-rj");
    background-size: cover;
}

.post-img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin-top: 15px;
}